---
import { getCollection } from "astro:content";
import BlogLayout from "../layouts/BlogLayout.astro";
const posts = (await getCollection('blog')).sort((a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf());
---

<BlogLayout title="Blog Posts" description="Bryan Pedroza's Blog">
  <nav>
    <ul class="menu bg-base-200 rounded-box">
      {posts.map(post => (
        <li>
          <a class="flex justify-between" title={post.data.title} href={`/blog/${post.id}`}>
            <span>{post.data.title}</span>
            <span>
              {post.data.datePublished.toDateString()}
            </span>
          </a>
        </li>
      ))}
    </ul>
  </nav>
  
</BlogLayout>