---
import SectionHeading from "./ui/SectionHeading.astro";
---

<section class='text-left mb-8' id="about">
  <SectionHeading mainText='Overview' subText='About Me' />
  <p class='mb-4'>I am a seasoned software engineer with over 12 years of professional experience 
    with a strong working knowledge of the basics (HTML, CSS, JavaScript) 
    and a deep understanding of using PHP on backend. I pride myself
    on being easy to communicate and collaborate with. I enjoy solving interesting new problems, 
    integrating with other systems to create seamless user experiences, and learning about new technologies.
  </p>
  <p class='mb-4'>
    Presently, I am the Principal software engineer at Health Endeavors, a company focused on helping
    hospitals track and report patient outcomes. We are working on some exciting new technologies that
    communicate with some of the largest medical data repositories in the US. We are constantly innovating in this
    space and always trying to develop new technologies to help medical staff provide the best possible quality of care
    to patients. 
  </p>
  <p>
    I started my software journey with a web development shop that did a little bit of everything in the early days
    of the web(think IE 6). This is where I grew my understanding of HTML and CSS by taking psd documents and creating
    "pixel perfect" websites. Styling was harder back then, but responsive design was barely coming into existence.
    After that, I worked for a company that made cutting edge jewelry websites and did quite a few projects as an independent contractor.
  </p>
</section>