---
import { links } from '../data';
---

<nav>
  <ul class="ml-9">
    {links.map((link) => (
        <li
          class={`${link.active ? 'border-primary' : 'border-[transparent]'} border-b inline-block nav-link my-2 `}
        >
          <a href={`#${link.id}`}>{link.name}</a>
        </li>
        <li class='nav-link-spacer'></li>
    )
    )}
  </ul>
</nav>

<script>
const links = document.querySelectorAll('.nav-link');

links.forEach((link) => {
  const aTag = link.querySelector('a');
  aTag?.addEventListener('click', (e) => {
    e.preventDefault();
    const targetId = e?.target?.getAttribute('href');
    document.querySelector(targetId).scrollIntoView({
      behavior: 'smooth'
    });

    history.pushState(null, '', targetId);

    const mediaQuery = window.matchMedia('(max-width: 1023px)');
	  if(!mediaQuery.matches) {
      window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'});
    }
  })
  
  link.addEventListener('click', function (e) {
    links.forEach((linkI) => {
      linkI.className = linkI.className.replace('border-primary', 'border-[transparent]');
    });
    this.className = this.className.replace('border-[transparent]', 'border-primary');
  });
});
</script>