html {
  /*background-image: url('/ocean.webp');*/
  background-color: #000;
}

.content-box,
.content-box-inner {
  position: relative;
  --s: 40px;
  clip-path: polygon(0 var(--s), var(--s) 0, 100% 0, 100% calc(100% - var(--s)), calc(100% - var(--s)) 100%, 0 100%);
}

#main-content {
  transform: skew(15deg, -5deg) scale(0.75);
  position: absolute;
  right: 10%;
  width: 35%;
  top: 130px;
  max-height: 50%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  transition: border-color 0.3s ease-in-out;
}

.nav-link-spacer {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.nav-link.active+.nav-link-spacer.after {
  height: 40px;

}

.flasher {
  animation: flasher 2.2s linear infinite;
}

@keyframes flasher {
  50% {
    opacity: 0.5;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(111px);
}

.gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-1 {
  background: rgb(112, 133, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 700px;
  height: 700px;
  animation-duration: 16s;
  opacity: 0.5;
  right: 30%;
  top: -10%;
  z-index: -2;
  animation-name: animation-gradient-1;
}

.gradient-2 {
  background: rgb(0, 205, 183) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 600px;
  height: 600px;
  animation-duration: 16s;
  opacity: 0.5;
  right: 20%;
  top: -5%;
  z-index: -1;
  animation-name: animation-gradient-2;
}

.gradient-3 {
  background: rgb(0, 182, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  width: 500px;
  height: 500px;
  animation-duration: 16s;
  opacity: 0.5;
  right: 25%;
  top: 0%;
  z-index: -3;
  animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }

  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }

  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }

  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }

  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }

  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
  }

  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
  }

  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }

  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
}

@media screen and (max-width: 1023px) {
  #main-content {
    transform: skew(0deg, 0deg) scale(1);
    position: static;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    transition: all 0.3s ease-in-out;
  }
}